{% load bootstrap3 %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="shortcut icon" href="{% static 'favicon/favicon.png' %}"/>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <title>Meme Town</title> <!-- Web application title -->
   <!--  <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet"> -->
  </head>
	<style>
	.button {
  		display: inline-block;
		padding: 15px 25px;
		font-size: 24px;
		cursor: pointer;
  		text-align: center;
  		text-decoration: none;
  		outline: none;
  		color: #fff;
  		background-color: #4CAF50;
  		border: none;
  		border-radius: 15px;
  		box-shadow: 0 9px #999;
	}
		.button:hover {background-color: #3e8e41}
		.button:active {
  		background-color: #3e8e41;
  		box-shadow: 0 5px #666;
  		transform: translateY(4px);
	}
	</style>
	<script>
	function home() {
		window.location.href="{% url 'memes:index' %}";
	}
	</script>
	<body style="background-image:url({% static 'st.jpg' %}); background-attachment: fixed;">
    <div class="container-fluid">
          <!-- Page content goes inside blocks -->
          {% block content %}
          {% endblock %}
    </div>
    <!-- <script src="{% static 'js/jquery-3.1.1.min.js' %}"></script> -->
    <!-- <script src="{% static 'js/bootstrap.min.js' %}"></script> -->
    {% block javascript %}
    {% endblock %}
  </body>
</html>
