{% extends 'base.html' %}
{% block content %}
{% load static %}

<div class="row" style="position:absolute; top:30%; left:40%;">
	<div class="col-md-8 col-md-offset-2">
  		 <div class="imgcontainer">
    		<img src="{% static 'TrollFace.png' %}" alt="Avatar" class="avatar">
  	 	 </div>
		 <br>
		 <!-- Email -->
         <div class="row">
        	 <!-- Label -->
         	<div class="col-md-4">
		        <h4>Email</h4>
       		</div>
        	<!-- Input box for email -->
         	<div class="col-md-8" style="text-align: center;">
         		<input class="form-control" type='text' name='email' size="35">
         	</div>
         </div>
         <!-- Password -->
         <div class="row">
         	<!-- Label -->
         	<div class="col-md-4">
         		<h4>Password</h4>
         	</div>
         	<!-- Input box for password -->
         	<div class="col-md-8" style="text-align: center;">
         		<input class="form-control" type='password' name='password' size="35">
         	</div>
         </div>
         <!-- Login button to submit form -->
         <div class="row">
         	<div class="btn-group btn-group-lg btn-block">
         		<button type='submit' class="btn btn-primary btn-block">Log In</button>
         	</div>
         </div>
         <!-- Sign up button -->
         <div class="row">
         	<p style="text-align: center;">
         		<br>
         		Don't have an account? <br>
         		<!-- Calls function 'signup' in views.py -->
         		<a href=""> Sign Up </a>
         	</p>
         </div>
	</div>
</div>

{% endblock %}
