{% extends 'base.html' %}
{% block content %}
{% load static %}

<style>
img.avatar {
	width: 80%;
	border-radius: 50%;
}

.container {
	padding: 16px;
}
</style>
<script>
// Check that all the fields are completed
    function checkFields()
    {
        var email = document.forms["signUp"]["email"].value;
        var em = email.trim();
        var password = document.forms["signUp"]["password"].value;
        var pw = password.trim();
        
        // Check if any of the variables are empty (after removing whitespace)
        if (em == "" || pw == "")
        {
            // Alert message if not complete
            alert("Please complete all the fields");
            // Return false so the incomplete form does not get submitted
            return false;
        }
        // Input sanitisation - prevent people signing up with these characters
        if (em.match(/[<>''"",!;,:\]\[]/i) || pw.match(/[<>''"",!;,:\]\[]/i))
        {
            alert("Special characters are not allowed")
            return false;
        }
    }
</script>

<div class="row">
	<div class="col-md-1 col-md-offset-11">
		<button class="button" onclick=home()><span class="glyphicon glyphicon-home"></span></button>
	</div>
</div>
<div style="color: #fff">
<div class="row" style="position:absolute; top:30%; left:40%; border-style: solid; background-color: #124754;">
	<div class="col-md-8 col-md-offset-2">
  		 <div class="imgcontainer">
    		<img src="{% static 'TrollFace2.jpg' %}" alt="Avatar" class="avatar">
  	 	 </div>
		 <br>
		 <form name="signUp" method="POST" action="/signup/" onsubmit="return checkFields()">
		 {% csrf_token %}
		 <!-- Email -->
         <div class="row">
        	 <!-- Label -->
         	<div class="col-md-4">
		        <h4>Email</h4>
       		</div>
        	<!-- Input box for email -->
         	<div class="col-md-8" style="text-align: center;">
         		<input class="form-control" type='text' name='email' size="35">
         	</div>
         </div>
         <!-- Password -->
         <div class="row">
         	<!-- Label -->
         	<div class="col-md-4">
         		<h4>Password</h4>
         	</div>
         	<!-- Input box for password -->
         	<div class="col-md-8" style="text-align: center;">
         		<input class="form-control" type='password' name='password' size="35">
         	</div>
         </div>
         <!-- Login button to submit form -->
         <div class="row">
         	<div class="btn-group btn-group-lg btn-block">
         		<button type='submit' class="btn btn-primary btn-block">Sign Up</button>
         	</div>
         </div>
	</form>
	</div>
</div>
</div>
{% endblock %}
